In [1]:
import pandas as pd

In [5]:
df = pd.DataFrame({"Name" : ["Braund, Mr. Owen Harris", "Allen, Mr. William Henry", "Bonnell, Miss. Elizabeth"], 
                   "Age" : [22,35,58],
                   "Sex" : ["male", "male", "female"]})

In [6]:
df

                       Name  Age     Sex
0   Braund, Mr. Owen Harris   22    male
1  Allen, Mr. William Henry   35    male
2  Bonnell, Miss. Elizabeth   58  female

In [8]:
df["Age"]  # series similar to dict

0    22
1    35
2    58
Name: Age, dtype: int64

In [50]:
import random
a = [i for i in range(41)]
random.shuffle(a)

In [52]:
ages = pd.Series(a, name="Age")
ages

0     14
1      3
2     18
3     15
4     11
5     39
6     22
7      2
8      0
9      1
10    21
11     8
12    17
13    26
14    32
15    23
16    30
17    27
18    36
19    34
20    37
21     7
22    25
23    24
24     4
25    19
26    35
27     6
28    20
29    13
30    12
31    40
32    29
33    10
34    38
35     5
36    31
37    16
38    28
39     9
40    33
Name: Age, dtype: int64

In [13]:
df["Age"].max()

58

In [17]:
ages.max()

58

In [54]:
ages.describe()

count    41.000000
mean     20.000000
std      11.979149
min       0.000000
25%      10.000000
50%      20.000000
75%      30.000000
max      40.000000
Name: Age, dtype: float64

In [25]:
type(df.describe())

pandas.core.frame.DataFrame