In [1]:
import pandas as pd

In [2]:
air_quality_no2 = pd.read_csv("pandas/doc/data/air_quality_no2_long.csv", parse_dates=True)

In [7]:
air_quality_no2 = air_quality_no2[["date.utc", "location", "parameter", "value"]]

In [8]:
air_quality_no2.head()

                    date.utc location parameter  value
0  2019-06-21 00:00:00+00:00  FR04014       no2   20.0
1  2019-06-20 23:00:00+00:00  FR04014       no2   21.8
2  2019-06-20 22:00:00+00:00  FR04014       no2   26.5
3  2019-06-20 21:00:00+00:00  FR04014       no2   24.9
4  2019-06-20 20:00:00+00:00  FR04014       no2   21.4

In [4]:
air_quality_pm25 = pd.read_csv("pandas/doc/data/air_quality_pm25_long.csv", parse_dates=True)

In [5]:
air_quality_pm25 = air_quality_pm25[["date.utc", "location", "parameter", "value"]]

In [6]:
air_quality_pm25.head()

                    date.utc location parameter  value
0  2019-06-18 06:00:00+00:00  BETR801      pm25   18.0
1  2019-06-17 08:00:00+00:00  BETR801      pm25    6.5
2  2019-06-17 07:00:00+00:00  BETR801      pm25   18.5
3  2019-06-17 06:00:00+00:00  BETR801      pm25   16.0
4  2019-06-17 05:00:00+00:00  BETR801      pm25    7.5

In [40]:
air_quality = pd.concat([air_quality_no2, air_quality_pm25], axis=0)

In [41]:
air_quality.head()

                    date.utc location parameter  value
0  2019-06-21 00:00:00+00:00  FR04014       no2   20.0
1  2019-06-20 23:00:00+00:00  FR04014       no2   21.8
2  2019-06-20 22:00:00+00:00  FR04014       no2   26.5
3  2019-06-20 21:00:00+00:00  FR04014       no2   24.9
4  2019-06-20 20:00:00+00:00  FR04014       no2   21.4

In [15]:
 print('Shape of the `air_quality_pm25` table: ', air_quality_pm25.shape)

Shape of the `air_quality_pm25` table:  (1110, 4)

In [16]:
print('Shape of the `air_quality_no2` table: ', air_quality_no2.shape)

Shape of the `air_quality_no2` table:  (2068, 4)

In [17]:
print('Shape of the resulting `air_quality` table: ', air_quality.shape)

Shape of the resulting `air_quality` table:  (3178, 4)

In [22]:
air_quality = air_quality.sort_values("date.utc")

In [23]:
air_quality.head()

                       date.utc            location parameter  value
1109  2019-05-07 01:00:00+00:00  London Westminster      pm25    8.0
2067  2019-05-07 01:00:00+00:00  London Westminster       no2   23.0
1098  2019-05-07 01:00:00+00:00             BETR801       no2   50.5
1003  2019-05-07 01:00:00+00:00             FR04014       no2   25.0
100   2019-05-07 01:00:00+00:00             BETR801      pm25   12.5

In [28]:
air_quality_ = pd.concat([air_quality_pm25, air_quality_no2],keys=["PM25","NO2"])

In [30]:
air_quality_.reset_index(level=0)

     level_0                   date.utc            location parameter  value
0       PM25  2019-06-18 06:00:00+00:00             BETR801      pm25   18.0
1       PM25  2019-06-17 08:00:00+00:00             BETR801      pm25    6.5
2       PM25  2019-06-17 07:00:00+00:00             BETR801      pm25   18.5
3       PM25  2019-06-17 06:00:00+00:00             BETR801      pm25   16.0
4       PM25  2019-06-17 05:00:00+00:00             BETR801      pm25    7.5
...      ...                        ...                 ...       ...    ...
2063     NO2  2019-05-07 06:00:00+00:00  London Westminster       no2   26.0
2064     NO2  2019-05-07 04:00:00+00:00  London Westminster       no2   16.0
2065     NO2  2019-05-07 03:00:00+00:00  London Westminster       no2   19.0
2066     NO2  2019-05-07 02:00:00+00:00  London Westminster       no2   19.0
2067     NO2  2019-05-07 01:00:00+00:00  London Westminster       no2   23.0

[3178 rows x 5 columns]

In [31]:
stations_coord = pd.read_csv("pandas/doc/data/air_quality_stations.csv")

In [32]:
stations_coord.head()

  location  coordinates.latitude  coordinates.longitude
0  BELAL01              51.23619                4.38522
1  BELHB23              51.17030                4.34100
2  BELLD01              51.10998                5.00486
3  BELLD02              51.12038                5.02155
4  BELR833              51.32766                4.36226

In [33]:
air_quality.head()

                       date.utc            location parameter  value
1109  2019-05-07 01:00:00+00:00  London Westminster      pm25    8.0
2067  2019-05-07 01:00:00+00:00  London Westminster       no2   23.0
1098  2019-05-07 01:00:00+00:00             BETR801       no2   50.5
1003  2019-05-07 01:00:00+00:00             FR04014       no2   25.0
100   2019-05-07 01:00:00+00:00             BETR801      pm25   12.5

In [42]:
air_quality = pd.merge(air_quality, stations_coord, how="left", on="location")

In [43]:
air_quality.head()

,date.utc,location,parameter,value,coordinates.latitude,coordinates.longitude
0,2019-06-21 00:00:00+00:00,FR04014,no2,20.0,48.83724,2.3939
1,2019-06-21 00:00:00+00:00,FR04014,no2,20.0,48.83722,2.3939
2,2019-06-20 23:00:00+00:00,FR04014,no2,21.8,48.83724,2.3939
3,2019-06-20 23:00:00+00:00,FR04014,no2,21.8,48.83722,2.3939
4,2019-06-20 22:00:00+00:00,FR04014,no2,26.5,48.83724,2.3939

In [44]:
air_quality_parameters = pd.read_csv("pandas/doc/data/air_quality_parameters.csv")

In [45]:
air_quality_parameters.head()

     id                                        description  name
0    bc                                       Black Carbon    BC
1    co                                    Carbon Monoxide    CO
2   no2                                   Nitrogen Dioxide   NO2
3    o3                                              Ozone    O3
4  pm10  Particulate matter less than 10 micrometers in...  PM10

In [46]:
air_quality = pd.merge(air_quality, air_quality_parameters, how="left", left_on="parameter", right_on="id")

In [47]:
air_quality.head()

,date.utc,location,parameter,value,coordinates.latitude,coordinates.longitude,id,description,name
0,2019-06-21 00:00:00+00:00,FR04014,no2,20.0,48.83724,2.3939,no2,Nitrogen Dioxide,NO2
1,2019-06-21 00:00:00+00:00,FR04014,no2,20.0,48.83722,2.3939,no2,Nitrogen Dioxide,NO2
2,2019-06-20 23:00:00+00:00,FR04014,no2,21.8,48.83724,2.3939,no2,Nitrogen Dioxide,NO2
3,2019-06-20 23:00:00+00:00,FR04014,no2,21.8,48.83722,2.3939,no2,Nitrogen Dioxide,NO2
4,2019-06-20 22:00:00+00:00,FR04014,no2,26.5,48.83724,2.3939,no2,Nitrogen Dioxide,NO2

# REMEMBER
- Multiple tables can be concatenated both column-wise and row-wise using the `concat` function.
- For database-like merging/joining of tables, use the `merge` function.